{% extends "books/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Left side: Book cover and chapter list -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ book.book_cover.url }}" class="card-img-top" alt="{{ book.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text"><strong>Author:</strong> {{ book.author }}</p>
                    <p class="card-text"><strong>Published:</strong> {{ book.published_date|date:"d/m/y" }}</p>
                    <p class="card-text">{{ book.description }}</p>
                </div>
            </div>

            <h5>Chapters</h5>
            {% if chapters %}
            <ul>
                <div class="list-group">
                    {% for chapter in chapters %}
                        <li>
                            <a href="{% url 'bookdetail' book.id chapter.id %}"
                               {% if chapter.id == selected_chapter_id %}
                               style="font-weight: bold;"
                               {% endif %}> {{ chapter }}
                            </a>
                        </li>
                    {% endfor %}
                </div>
            </ul>
            {% else %}
                <div class="list-group">
                    No Chapter yet
                </div>
            {% endif %}
        </div>

        <!-- Right side: Chapter content -->
        <div class="col-md-8">
            {% if chapter_content %}
            <div class="card">
                <div class="card-body">
                    <h3>Content of Selected Chapter</h3>
                    <p>{{ chapter_content|safe }}</p>
                </div>
            {% else %}
                <div class="card-body"> Select a chapter to view its content </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<style>
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .list-group-item.active {
        background-color: #007bff;
        border-color: #007bff;
    }
</style>
{% endblock content %}

